{% extends "base.html" %}

{% block content %}
    <h1>О проекте</h1>
    <h2>Проект</h2>
    <h4>О проекте можно прочитать в файле README.md в <a href="https://github.com/RazrivnoyTapok/way-no-way">репозитории GitHub сайта</a>.</h4>
    <h2>Главная страница</h2>
    <h4>
        Сайт служит как социальная сеть для обмена файлами маршрутов, созданных в приложении.
        Зайдя на сайт, вы увидите главную страницу, где отображаются все посты с сортировкой от самых недавних к самым
        первым. На главной странице посты отображаются с неполной информацией, и чтобы увидеть информацию полностью,
        нужно перейти по гиперссылке в имени поста. Чтобы увидеть информацию об авторе, перейдите по гиперссылке в
        имени автора поста. На этих страницах информация расписана в виде таблиц.
    </h4>
    <h2>Аккаунты</h2>
    <h4>
        Чтобы постить свои маршруты на сайт, вам нужно зайти в существующий аккаунт или создать новый. Если вы не вошли
        в аккаунт, в левом верхнем углу будут 2 кнопки для регистрации и входа соответственно. При регистрации нужно
        нужно заполнить несколько полей: электронную почту, пароль, никнейм, остальные поля опциональные. После
        регистрации вас перенаправят на страницу входа в аккаунт, где нужно войти с электронной почтой и паролем.
        Изменить профиль можно, нажав на свой никнейм в левом верхнем углу (появится вместо кнопок), что направит вас в
        ваш личный кабинет. Там вы можете просмотреть собственный профиль, изменить его, выставить настройки сайта или
        увидеть собственные посты. При изменении профиля для оставления полей такими, какие они были, не ставьте в них
        ничего.
    </h4>
    <h2>Посты</h2>
    <h4>
        Если вы вошли в аккаунт, вы можете создать свой пост по соответствующей кнопке на полоске навигации сверху. Вас
        попросят ввести данные поста, в том числе прикрепить файлы, созданные в приложении (см. раздел "Приложение" на
        этой странице). После создания поста он сразу же будет отображаться на главной странице. Если пост приватный,
        то он будет виден только вам. В названии маршрута рекомендуем обозначать главные точки маршрута (например,
        начальную и конечную) или место маршрута (например, город или страну), чтобы пользователям было легко найти ваш
        пост по этим критериям.
    </h4>
    <h2>Приложение</h2>
    <h4>
        В приложении вы можете создать файл маршрута, который можно будет загрузить на сайт как пост. Чтобы загрузить
        приложение, нажмите на кнопку "Приложение" на навигационной полоске. Распакуйте архив, оба файла оставьте в
        одной папке. Запустите приложение. Откроется карта, по которой можно передвигаться, зажав левую кнопку мыши и
        двигая мышь. Покрутив колесо мыши, можно изменить масштаб показа карты.<br>
        Сверху есть кнопки для работы с файлами. Чтобы работать с ними, введите в нужное поле имя файла, который вы
        можете открыть в приложении или сохранить.<br>
        Справа есть кнопка "прицел", которая включает прицел для более удобной работы с линиями и метками.<br>
        Дальше расположены кнопки для работы с линиями на карте. Всего доступно 3 линии, которые можно переключать
        соответствующей кнопкой. Линия может иметь от 2 до 100 точек, при этом 3 линии в сумме должны иметь не более
        100 точек. Для добавления точки или удаления последней точки нажмите соответствующие кнопки. Параметры линии
        можно указать в любой момент, главное не забыть после изменения линии нажать "сохранить настройки".
        Открывая файл, не забудьте нажать "сохранить настройки", чтобы все линии корректно отобразились!<br>
        Ещё ниже расположены кнопки для работы с метками. У меток можно настраивать стили, цвета, размер и контент,
        переключая соответствующие кнопки. Контент меток включает в себя числа от 1 до 100, в зависимости от стиля
        метки этот диапазон может меняться.<br>
        Под картой расположены кнопки для поиска. Место можно найти через верхнее поле ввода, а 3 ближайших к точке
        организации введённого типа - через нижнее. Полный адрес объекта будет отображаться между этими полями.<br>
        Маршрут сохраняется как 2 файла - картинка с карты и текстовый файл с информацией о маршруте (под одинаковым
        названием, в папке приложения).
    </h4>
    <h2>API</h2>
    <h4>
        К проекту подключен API на основе Flask-restful.<br>
        У API к пользователям есть страница /api/mappers.<br>
        При GET запросе к /api/mappers будет получен список всех пользователей с их nickname, info и join_date.<br>
        При GET запросе к /api/mappers/*id* будет получена та же информация, но об одном пользователе с нужным id.<br>
        При POST запросе к /api/mappers с нужными данными создастся аккаунт. В качестве параметров необходимо передать
        nickname (str); info (str); email (str); hashed_password (str).<br>
        При DELETE запросе к /api/mappers/*id* будет удалён пользователь с указанным id.<br>
        У API к постам есть страница /api/routes.<br>
        При GET запросе к /api/routes будет получен список всех постов с их name, description, author, creation_date,
        private, ll, z, l, info_r, info_m.<br>
        При GET запросе к /api/routes/*id* будет получена та же информация, но об одном посте с нужным id<br>
        При POST запросе к /api/routes с нужными данными создастся пост. В качестве параметров необходимо передать
        name (str); description (str); author (int), private (bool), ll (str), z (str), l (str), info_r (str), info_m
        (str).<br>
        При DELETE запросе к /api/mappers/*id* будет удалён пользователь с указанным id.
    </h4>
    <h2>Итог</h2>
    <h4>Надеюсь, что инструкция была понятной и что сайт будет вам полезен. По вопросам к проекту обращайтесь на почту
        drozdovegor08@gmail.com. Приятного пользования.
    </h4>
{% endblock %}