{% extends "base.html" %}

{% block content %}
    <h1>Регистрация</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <!-- Название -->
        <p>
            {{ form.name.label }}<br>
            {{ form.name(class="form-control") }}<br>
            {% for error in form.name.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        <!-- Описание -->
        <p>
            {{ form.description.label }}<br>
            {{ form.description(class="form-control") }}<br>
            {% for error in form.description.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        <!-- Скрытый -->
        <p>
            {{ form.private.label }}<br>
            {{ form.private() }}<br>
            {% for error in form.private.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        <!-- Картинка -->
        <p>
            {{ form.image.label }}<br>
            {{ form.image() }}
        <p>
            {{ form.text.label }}<br>
            {{ form.text() }}
        <!-- Зарегистрироваться -->
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        {{ message }}
    </form>
{% endblock %}