{% extends "base.html" %}

{% block content %}
<form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <h1>Добавление поста</h1>

    <p><h4>Название маршрута</h4>
    {{ form.name(class="form-control") }}
    {% for error in form.photo.errors %}
    <span style="color: red">{{ error }}</span>
    {% endfor %}

    <p><h4>Описание маршрута</h4>
    {{ form.desc(class="form-control") }}
    {% for error in form.desc.errors %}
    <span style="color: red">{{ error }}</span>
    {% endfor %}

    <p><h4>Приватность поста (галочка, если приватный)</h4>
    {{ form.priv }}
    {% for error in form.priv.errors %}
    <span style="color: red">{{ error }}</span>
    {% endfor %}

    <p><h4>Фото маршрута</h4>
    {{ form.photo }}
    {% for error in form.photo.errors %}
        <span style="color: red;">{{ error }}</span>
    {% endfor %}

    <p><h4>Файл маршрута</h4>
    {{ form.text }}
    {% for error in form.text.errors %}
         <span style="color: red;">{{ error }}</span>
    {% endfor %}

    <p><h4>Готово</h4>
    {{ form.submit(class="btn btn-primary") }}
</form>
{% endblock %}